@import '../../custom.scss';

.shelves {
  &.container {
    justify-content: start;
    max-width: 80%;
    margin-bottom: 50px;
  }

  &-empty {
    margin: 30px auto;
    min-width: 70%;

    form {
      max-width: 100%;
    }
  }

  &-header {
    color: $color-grass-dark;
  }
}
