@import '../../custom.scss';

.shelves {
  width: 80%;

  @include media-breakpoint-down(lg) {
    width: 100%;
  }

  &-empty {
    margin: 30px auto;
    min-width: 70%;

    form {
      max-width: 100%;
    }
  }

  &-header {
    color: $color-grass-dark;
    text-align: center;
  }
}

.shelf-item,
.flower-item {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 0;
  min-height: 120px;

  @include media-breakpoint-down(md) {
    width: 48%;
  }

  @include media-breakpoint-down(sm) {
    width: 96%;
    margin: 5px auto;
  }

  &-new {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    min-width: 100%;
    color: $color-grass;

    &:hover {
      color: $color-grass-dark;
    }
  }
}
