.google-auth-btn {
  width: 100%;
  flex-basis: auto;
  align-items: center;
  justify-content: center;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
}

.authButtonContainer {
  width: 70%;
  padding: 0;
  margin: 10px 0;
}
