$app-header-bgcolor: #282c34; // SCSS variable

.home {
  &__container {
    background-color: $app-header-bgcolor;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}
