@import '../../custom.scss';

header {
  font-size: 1.25rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);

  .logo-with-menu {
    display: flex;
    flex-flow: row nowrap;

    @include media-breakpoint-down(sm) {
      flex-flow: column nowrap;
    }
  }
}
