$color-grass-dark: #2f8611;
$color-grass: #7ec850;
$color-grass-light: #95e083;


$theme-colors: (
  "primary": $color-grass-dark
);

$code-color: $color-grass;
$code-font-size: 100%;

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
}

.nav-link {
  color: $color-grass-dark;
  &.active {
    color: $color-grass;
  }
  &:hover {
    color: $color-grass-light;
  }
}

@import "~bootstrap/scss/bootstrap";