@import '../../../custom.scss';

.flower {
  &.container {
    margin: 10px auto;
    justify-content: start;
  }

  &-header {
    color: $color-grass-dark;
  }

  &-menu {
    margin: 0;

    button {
      display: inline-block;
      margin: 0 10px;
      width: 150px;
    }
  }

  &-actions {
    margin: 1rem auto 0 auto;

    .list-group-item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        margin: 0 0 0 1rem;
        width: 150px;
      }
      .spinner-button {
        position: relative;

        .spinner-container {
          position: absolute;
          width: 100%;
          margin-left: calc(-24px/2 - 6px + 1px);
        }
      }
    }
  }

  &-action {
    &-name {
      text-transform: capitalize;
      font-weight: 500;
      color: $color-grass-dark;

      &-missed {
        color: $color-danger;
      }
    }

    &-icon-container {
      display: inline-flex;
      justify-content: center;
      min-width: 22px;
    }
  }

  th,
  td.action-name {
    text-transform: capitalize;
  }
}

.heatmap-container {
  width: 100%;
  padding-right: 1rem;
  margin: 2rem 0 -3rem 0;

  @include media-breakpoint-up(md) {
    width: 75%;
  }

  @include media-breakpoint-up(xl) {
    width: 50%;
  }
}

.stats-container {
  width: 100%;
  padding: 0 1rem;

  h4 {
    color: $color-grass-dark;
  }
}

.log-container {
  width: 100%;
  padding: 2rem 1rem 0;

  h4 {
    color: $color-grass-dark;
  }
}

.react-calendar-heatmap {
  text {
    font-size: 6px;
    fill: #aaa;
  }

  .react-calendar-heatmap-small-text {
    font-size: 5px;
  }

  rect:hover {
    stroke: #555;
    stroke-width: 1px;
  }

  .color-croton-0, .color-empty {
    fill: #eeeeee;
  }
  .color-croton-1 {
    fill: $color-grass-light;
  }
  .color-croton-2, .color-filled {
    fill: $color-grass;
  }
  .color-croton-3 {
    fill: $color-grass-dark;
  }
  .color-croton-4 {
    fill: $color-grass-darkest;
  }
}
