@import '../../../assets/styles/theme.scss';

.button-with-loader {
  margin: 0;
  position: relative;

  &-error {
    background-color: $color-danger !important;
    border-color: $color-danger !important;
  }

  &-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: calc(-24px/2);
    margin-top: -6px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &-hidden {
      display: none;
    }
  }

  &-non-clickable {
    pointer-events: none;
  }
}
